<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="folder== 'Home'">
    <div id="map" style="width: 100%; height: 60%;"></div>
    
    <img style="text-align: center; height: 100%; vertical-align: middle;" src='/assets/img/logo-gurujal.png'/>
    
  </div>

  <div id="container" *ngIf="folder== 'Ponds'">
    <div class="ion-padding">
      <ion-button (click)="openModal()">Add New Record</ion-button>
    </div>
    <div>
      <ion-label style="padding-left: 21px;"> Search by block :</ion-label>
      <ion-card>
        <ion-select placeholder="Select" [(ngModel)]="block" (ionChange)="getPondDataByBlock(block)">
          <ion-select-option value="Farukhnagar">Farukhnagar</ion-select-option>
          <ion-select-option value="Gurgaon">Gurugram</ion-select-option>
          <ion-select-option value="Pataudi">Pataudi</ion-select-option>
          <ion-select-option value="Sohna">Sohna</ion-select-option>
        </ion-select>
      </ion-card>
    </div>
    <div>
      <ion-list *ngFor="let data of pondDataByBlock">
      <ion-card>
        <ion-card-header style="text-align: center;">
          <ion-card-subtitle>{{ data.tehsilName }}</ion-card-subtitle>
          <ion-card-title>{{ data.title }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content style="text-align: center;">
            
          <!-- <img [src]="data.image" style="height: 150px; width: 150px" /><br> -->
            Area : {{ data.area}}<br>
            Latitude : {{ data.latitude}}<br>
            Longitude : {{ data.longitude }}
        </ion-card-content>
        <ion-button (click)="openDetailsModal(data);" expand="block" style="padding-left: 12px; padding-right: 12px; height: 20px; font-size: 10px;">Click for more details</ion-button>
      </ion-card>
      </ion-list>
    </div>
  </div>
  <div id="container" *ngIf="folder== 'Checklist'" class="ionstyle">
    <ion-card>
      <table>
        <tr>
          <td>
            <ion-label position="stacked">
              &nbsp;&nbsp;&nbsp;your country
            </ion-label>
            <ion-select placeholder="Select" style="padding-left: 26px;">
              <ion-select-option value="Farukhnagar">Farukhnagar</ion-select-option>
              <ion-select-option value="Gurgaon">Gurugram</ion-select-option>
              <ion-select-option value="Pataudi">Pataudi</ion-select-option>
              <ion-select-option value="Sohna">Sohna</ion-select-option>
            </ion-select>
          </td>
        </tr>
    
        <tr>
          <td>
            <ion-label position="stacked">
              &nbsp;&nbsp;&nbsp;mobile
            </ion-label>
            <ion-input name="phone" placeholder="Enter phone number">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </ion-input>
          </td>
        </tr>
    
        <tr>
          <td>
            <ion-label position="stacked">
              &nbsp;&nbsp;&nbsp;code
            </ion-label>
            <ion-input name="customer" placeholder="Enter user code">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-input>
          </td>
        </tr>
    
        <tr>
          <td>
      <ion-button expand="block" >Submit</ion-button>
          </td>
        </tr>
        </table>
  </ion-card>
  </div>

  <div id="container" *ngIf="folder== 'Gallery'">
    <!-- <iframe src="https:gurujal.org/imageupload" style="height: 100%;; width: 100%;"></iframe> -->
    <ion-item>
    <ion-select [(ngModel)]="pond.title" placeholder="Select Pond" (ionChange)="onChange(pond.title)">
      <ion-select-option *ngFor="let pond of pondData" [value]="pond.title">{{pond.title}} 
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card [hidden]=ishidden>
    <img [src]="image" style="height: 200px; width: 200px" />
  </ion-card>
  <br>

    <input [hidden]=ishidden type="file" accept="image/*" (change)="uploadFile($event)"/>
    <br>
    <div class="progress" [hidden]=ishidden>
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]= "(uploadProgress | async) + '%'" [attr.aria-valuenow]= "(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100">
    </div>
    </div>
    
      <div [hidden]=ishidden style="font-size: 10px;">Upload progress : {{ uploadProgress | async }} % </div>
      <a [hidden]=ishidden [href]="downloadURL | async">{{ downloadURL | async }}</a>
      <ion-button [hidden]=ishidden expand="block" (click)="updatePondImage(pondImage, url1);">Upload and change image</ion-button>
    
    </div>
</ion-content>
