ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  left: 0;
  right: 0;
  top: 50%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: transparent;
}

.ionstyle td {
  ion-input{
    position: relative;
     width:auto;
  }
  ion-card {
    background-color:#d3d3d3; // black
  }
}
