<ion-header>
    <ion-toolbar>
        <ion-title>Add Pond</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-button (click)="closeModal()" size="small" slot="end" color="danger">
            Close
        </ion-button>
    </ion-item>
    <ion-item>
        <ion-label>Select Block</ion-label>
        <ion-select [(ngModel)]="dataFromService.tehsilName" placeholder="Select" style="padding-left: 37px;">
            <ion-select-option value="Farukhnagar">Farukhnagar</ion-select-option>
            <ion-select-option value="Gurgaon">Gurugram</ion-select-option>
            <ion-select-option value="Pataudi">Pataudi</ion-select-option>
            <ion-select-option value="Sohna">Sohna</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label> Title :</ion-label>
        <ion-input [(ngModel)]="dataFromService.title" name="title" placeholder="Enter title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Area :</ion-label>
        <ion-input [(ngModel)]="dataFromService.area" name="area" placeholder="Enter area">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-input>
    </ion-item>
    <ion-item>
        <ion-label>File</ion-label>
        <input type="file" [(ngModel)]="dataFromService.file"  (change)="fileEvent($event)" name="area" placeholder="Enter file" />
    </ion-item>

        <ion-button (click)="savePond(dataFromService)" expand="block" style="padding-left: 12px; padding-right: 12px; height: 30px;">Save</ion-button>
    


</ion-content>
