<ion-header>
  <ion-toolbar>
      <ion-title>Pond Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-button (click)="closeDetailsModal()" size="small" slot="end" color="danger">
          Close
      </ion-button>
  </ion-item>
  <ion-item style="text-align: center; font-size: larger;"><b>{{ title | uppercase}}</b></ion-item><br>
  &nbsp;&nbsp;&nbsp;<b>Unique Id :</b> {{ uniqueId }}<br><br>
  &nbsp;&nbsp;&nbsp;<b>Area :</b> {{ area }}<br><br>
  &nbsp;&nbsp;&nbsp;<b>Latitude :</b> {{ latitude }}<br><br>
  &nbsp;&nbsp;&nbsp;<b>Longitude :</b> {{ longitude }}<br><br>
  &nbsp;&nbsp;&nbsp;<b>Tehsil Name :</b> {{ tehsilName }}<br><br>
  &nbsp;&nbsp;&nbsp;<b>Village :</b> {{ villageName }}<br><br>
  &nbsp;&nbsp;&nbsp;<b>Capacity :</b> {{ capacity }}<br><br>
  &nbsp;&nbsp;&nbsp;<b>Ownership :</b> {{ ownership }}<br><br>
  &nbsp;&nbsp;&nbsp;<img [src]="image" style="height: 200px; width: 200px" /><br>
  <input type="file" accept="image/*" (change)="uploadFile($event)"/>

    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100">
    <a [href]="downloadURL | async">{{ downloadURL | async }}</a> </div>
    
</ion-content>
